.read-more {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    color: #595959;
}

.read-more__post-title {
    font-size: 50px;
}

.read-more__post-author {
    font-size: 25px;
    margin-top: 10px;
}

.read-more__post-content {
    font-size: 20px;
    margin-top: 10px;
}

.read-more__error-code {
    text-align: center;
    font-size: 120px;
    color: #d91a30;
}

.read-more__error-description {
    text-align: center;
    font-size: 30px;
}

.read-more__comments {
    margin-top: 75px;
    font-size: 20px;
}

.read-more__add-comment {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

.read-more__add-comment-input {
    min-width: 300px;
    max-width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    padding: 10px 0px;
}

.read-more__input-submit {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #335ab5;
    color: #335ab5;
    padding: 15px 20px;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}

.read-more__input-submit:hover {
    color: #fff;
    background-color: #335ab5;
}