.post {
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
    transform: scale(1);
    transition: .3s;
}

.post:hover {
    transform: scale(1.02);
}

.post__title {
    font-size: 33px;
}

.post__author {
    font-size: 20px;
    margin-top: 10px;
}

.post__content {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
}


.post__read-more {
    border-radius: 10px;
    border: 1px solid #335ab5;
    color: #335ab5;
    padding: 15px 20px;
    text-decoration: none;
    transition: .3s;
}

.post__read-more:hover {
    color: #fff;
    background-color: #335ab5;
}