.nav {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    color: #595959;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav__header {
    font-size: 35px;
    position: relative;
    z-index: 5;
}

.nav__link {
    font-size: 20px;
    margin-left: 20px;
    color: #595959;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: .2s;
}

.nav__link:hover {
    border-bottom: 2px solid #595959;
}

.burger-menu-button {
    position: absolute;
    top: 35px;
    right: 0px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: none;
    background-color: #fff;
    border: 0;
}

.burger-menu-button__icon {
    width: 45px;
    height: 45px;
    display: none;
}

.burger-menu-button__icon--active {
    display: block;
}

@media screen and (max-width: 650px) {
    .nav__list {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        transition: .3s;
    }

    .nav__list--active {
        top: 75px;
    }

    .burger-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }